{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <!-- 'defer': execution of the script until the page is load-->
    <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}

{% block title %} home {% endblock title %}

{% block content %}

    <!-- Modal 
    bing: modal: es una clase que se utiliza para crear un modal en la página web.
    bard: modal: esta es una etiqueta HTML que crea un cuadro de diálogo modal. Un cuadro de diálogo modal es una ventana temporal que se superpone al contenido principal de una página web. Por lo general, se usa para mostrar información o pedirle al usuario que ingrese.
    bing: fade: es una clase que se utiliza para agregar un efecto de desvanecimiento al modal.
    bard: fade: este es un atributo HTML que especifica que el cuadro de diálogo modal debe aparecer y desaparecer gradualmente.
    bing: tabindex=“-1”: es un atributo que se utiliza para especificar el orden de tabulación de los elementos en la página web.
    bard: tabindex=-1: este es un atributo HTML que especifica que el cuadro de diálogo modal no debe ser enfocable. Esto significa que el usuario no puede tabular al cuadro de diálogo modal.
    bing: aria-labelledby=“exampleModalLabel”: es un atributo que se utiliza para especificar el ID del elemento que describe el contenido del modal.
    bard: aria-labelledby=exampleModalLabel: este es un atributo HTML que especifica el ID del elemento que se utilizará como etiqueta para el cuadro de diálogo modal.
    bing: aria-hidden=“true”: es un atributo que se utiliza para especificar si el contenido del modal está oculto o no.
    bard: aria-hidden=true: este es un atributo HTML que especifica que el cuadro de diálogo modal debe ocultarse de forma predeterminada.
    bing: modal-dialog: es una clase que se utiliza para crear el contenedor del modal.
    bard: modal-dialog: esta es una etiqueta HTML que crea el contenedor para el cuadro de diálogo modal.
    bing: modal-content: es una clase que se utiliza para crear el contenido del modal.
    bard: modal-content: esta es una etiqueta HTML que crea el área de contenido para el cuadro de diálogo modal.
    bing: modal-header: es una clase que se utiliza para crear la cabecera del modal.
    bard: modal-header: esta es una etiqueta HTML que crea el área de encabezado para el cuadro de diálogo modal.
    bing: modal-title: es una clase que se utiliza para crear el título del modal.
    bard: modal-title: esta es una etiqueta HTML que crea el título para el cuadro de diálogo modal.
    bing: fs-5: es una clase que se utiliza para especificar el tamaño de fuente del título del modal.
    bard: fs-5: esta es una clase de Bootstrap que especifica que el tamaño de fuente debe ser 5 rem.
    bing: class=“btn-close”: es una clase que se utiliza para crear un botón de cierre en la cabecera del modal.
    bard: class=btn-close: esta es una clase de Bootstrap que especifica que el botón debe tener un icono de cierre.
    bing: data-bs-dismiss=“modal”: es un atributo que se utiliza para cerrar el modal cuando se hace clic en el botón de cierre.
    bard: data-bs-dismiss=modal: este es un atributo de Bootstrap que especifica que el botón debe cerrar el cuadro de diálogo modal.
    bing: aria-label=“Close”: es un atributo que se utiliza para especificar la descripción del botón de cierre.
    bard: aria-label=Cerrar: este es un atributo HTML que especifica la etiqueta del botón.
    bing: div class=“alert alert-warning”: es una clase que se utiliza para crear una alerta con fondo amarillo en la página web.
    bard: div class=alert alert-warning: esta es una etiqueta HTML que crea un cuadro de alerta con un mensaje de advertencia.
    bing: base64: no encontré información relevante sobre esta etiqueta en particular. ¿Podrías proporcionarme más contexto sobre su uso?
    bard: base64: este es un formato de datos que representa datos binarios en un formato basado en texto.
    bing: data-bs-toggle=“modal”: es un atributo que se utiliza para mostrar el modal cuando se hace clic en un botón o enlace.
    bard: data-bs-toggle=modal: este es un atributo de Bootstrap que especifica que el botón debe abrir el cuadro de diálogo modal.
    bing: data-bs-target=“#reportModal”: es un atributo que se utiliza para especificar el ID del elemento al cual está vinculado el modal.
    bard: data-bs-target=#reportModal: este es un atributo de Bootstrap que especifica el ID del cuadro de diálogo modal que debe abrirse.-->
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add report</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    <div id="alert-box"></div>
                    <form id="report-form" autocomplete="off">
                        {% csrf_token %}
                        {{report_form|crispy}}
                        <button type="submit" class="btn btn-info mt-3">save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if no_data %}

        <div class="alert alert-warning" role="alert">
            {{no_data}}
        </div>

    {% endif %}

    <form action="" method="POST">

        {% csrf_token %}

        {{search_form|crispy}}

        <button type="submit" class="m-3 btn btn-primary">search</button>

    </form>
    <br>

    {% if sales_df %}

        <h3>Sales DF:</h3>
        <div class="mb-5">{{sales_df|safe}}</div> <!-- lista de sales de fecha especificada -->
        
        <h3>Position DF:</h3>
        <div class="mb-5">{{positions_df|safe}}</div> <!-- lista de positions de fecha especificada id="img"-->
        
        <h3>Merge DF:</h3>
        <div class="mb-5">{{merge_df|safe}}</div>
        
        <h3>Grouped by DF:</h3>
        <div class="mb-5">{{df|safe}}</div>
        
        <h2 class="mb-3">Chart:</h2>

        <!-- creo del documento. obtiene un elemento x id = 'img'
        * const img = document.getElementById('img') -->
        <div><img src="data:image/png;base64,{{chart|safe}}" id="img"></div>

    {% endif %}

    <!-- creo del documento. obtiene un elemento x id = 'report-btn'
    * const reportBtn = document.getElementById('report-btn')
    * if(img){reportBtn.classList.remove('not_visible')} -->
    
    <button class="btn btn-primary not_visible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">add report</button>
    
{% endblock content %}