{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <!-- 'defer': execution of the script until the page is load-->
    <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}

{% block title %} home {% endblock title %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add report</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                    <div id="alert-box"></div>
                    <form id="report-form">
                        {% csrf_token %}
                        {{report_form|crispy}}
                        <button type="submit" class="btn btn-info mt-3">save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if no_data %}

        <div class="alert alert-warning" role="alert">
            {{no_data}}
        </div>

    {% endif %}

    <form action="" method="POST">

        {% csrf_token %}

        {{search_form|crispy}}

        <button type="submit" class="m-3 btn btn-primary">search</button>

    </form>
    <br>

    {% if sales_df %}

        <h3>Sales DF:</h3>
        <div class="mb-5">{{sales_df|safe}}</div> <!-- lista de sales de fecha especificada -->
        
        <h3>Position DF:</h3>
        <div class="mb-5">{{positions_df|safe}}</div> <!-- lista de positions de fecha especificada id="img"-->
        
        <h3>Merge DF:</h3>
        <div class="mb-5">{{merge_df|safe}}</div>
        
        <h3>Grouped by DF:</h3>
        <div class="mb-5">{{df|safe}}</div>
        
        <h2 class="mb-3">Chart:</h2>

        <!-- creo del documento. obtiene un elemento x id = 'img'
        * const img = document.getElementById('img') -->
        <div><img src="data:image/png;base64,{{chart|safe}}" id="img"></div>

    {% endif %}

    <!-- creo del documento. obtiene un elemento x id = 'report-btn'
    * const reportBtn = document.getElementById('report-btn')
    * if(img){reportBtn.classList.remove('not_visible')} -->
    
    <button class="btn btn-primary not_visible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">add report</button>
    
{% endblock content %}