{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    <script src="{% static 'sales/home.js' %}" defer></script>
{% endblock scripts %}

{% block title %} home {% endblock title %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <form action="" method="POST">

        {% csrf_token %}

        {{form}}

        <button type="submit" class="m-3 btn btn-primary">search</button>

    </form>
    <br>

    {% if sales_df %}

        <h3>Sales DF:</h3>
        <div class="mb-5">{{sales_df|safe}}</div> <!-- lista de sales de fecha especificada -->
        
        <h3>Position DF:</h3>
        <div class="mb-5">{{positions_df|safe}}</div> <!-- lista de positions de fecha especificada -->
        
        <h3>Merge DF:</h3>
        <div class="mb-5">{{merge_df|safe}}</div>
        
        <h3>Grouped by DF:</h3>
        <div class="mb-5">{{df|safe}}</div>
        
        <h2 class="mb-3">Chart:</h2>
        <div><img src="data:image/png;base64,{{chart|safe}}" id="img"></div>

        <button class="btn btn-success">report</button>

    {% else %}

        <h3>no data</h3>

    {% endif %}
    
    <button class="btn btn-primary not_visible" id="report-btn" data-bs-toggle="modal" data-bs-target="#reportModal">add report</button>
    
{% endblock content %}