{% extends 'base.html' %}


{% block title %} 

    sales list 

{% endblock title %}


{% block content %}

    <h1>Sales list: </h1>
    <br>
    <br>

    <!-- 
    * object_list:
    conveniencia para acceder a la lista de objetos del modelo especificado en la vista al templete, si no se quiere usar se puede definir:
    * context_object_name = 'qs' (en la vista) -->
    {% for i in object_list %}

        <div class="card mb-3">
            
            <!-- se pudo haber definido como "{.% url 'sales:detail' i.pk %}
                ! pero si se cambia la ruta o el pk se necesitaría cambiar en todas las instancias
                * y get_absolut_url funciona solamente para el modelo especifico y aunque se modifique la url se mantiene el metodo" -->
            <a href="{{i.get_absolute_url}}" class="card-body">

                <p class=""><small>id: {{i.transaction_id}}</small></p>

                {% for n in i.positions.all %}

                    Producto: {{n.product.name}} / Precio: {{n.product.price}} x {{n.quantity}} pzas / Subtotal: ${{n.price}}
                    <br>

                {% endfor %}
                <br>

                <h3 class="">Total: {{i.total_price}}</h3>

            </a>

        </div>

    {% endfor %}
    
{% endblock content %}