{% load static %}

<!doctype html>

<!--
  GPT:
¡Por supuesto! A continuación, te proporciono una descripción detallada de las clases y etiquetas que has mencionado en el código:
charset: Esta etiqueta define el conjunto de caracteres utilizado en el documento. En este caso, se especifica que el conjunto de caracteres utilizado es UTF-8, que es un estándar de codificación de caracteres ampliamente utilizado.
utf-8: Este es el nombre del conjunto de caracteres utilizado para codificar el documento, que es un estándar que admite la representación de una amplia gama de caracteres, incluidos los caracteres de muchos idiomas.
name: Esta etiqueta se utiliza para especificar los metadatos que se utilizan para describir el contenido de una página web. En este caso, se especifica el nombre del viewport, que se utiliza para controlar cómo se muestra la página en diferentes dispositivos y pantallas.
viewport: Esta etiqueta define la manera en que se debe renderizar la página en diferentes dispositivos, especificando su ancho y su escala inicial.
content: Esta etiqueta se utiliza para especificar el valor de un atributo. En este caso, se utiliza para especificar el ancho y la escala inicial del viewport.
width=device-width: Esta etiqueta establece el ancho del viewport para que coincida con el ancho de la pantalla del dispositivo.
initial-scale=1: Esta etiqueta establece la escala inicial del viewport en 1:1.
rel: Este atributo se utiliza para especificar la relación entre la página actual y el recurso al que se hace referencia en la etiqueta.
shortcut: Este valor del atributo rel se utiliza para especificar un icono de acceso directo para la página.
icon: Este valor del atributo shortcut se utiliza para especificar el archivo de icono de acceso directo de la página.
rel="stylesheet": Este valor del atributo rel se utiliza para especificar que el archivo al que se hace referencia es una hoja de estilo.
integrity: Este atributo se utiliza para proporcionar una cadena de integridad criptográfica para el recurso al que se hace

BING:
Claro que sí. Aquí te proporciono una descripción detallada de las clases y etiquetas que mencionaste y la función que cumplen en el código:
charset: Especifica la codificación de caracteres utilizada en el documento HTML. En este caso, se utiliza “utf-8” para codificar caracteres Unicode.
name: Define un nombre para el elemento actual. En el caso de la etiqueta “viewport”, se utiliza para definir un área visible del documento.
viewport: Especifica cómo se debe mostrar el contenido en diferentes dispositivos. La etiqueta “viewport” se utiliza para controlar el tamaño y la escala de la página en dispositivos móviles.
content: Define el valor del atributo “name”. En este caso, se utiliza para definir el ancho del dispositivo como el ancho de la pantalla del dispositivo.
width=device-width: Define el ancho de la página como el ancho del dispositivo.
initial-scale=1: Define la escala inicial de la página.
rel: Define la relación entre el documento actual y el recurso vinculado. En este caso, se utiliza para definir un icono de acceso directo a la página web.
shortcut icon: Especifica la ubicación del icono que se muestra en la pestaña del navegador o en la pantalla de inicio del dispositivo móvil.
rel=“stylesheet”: Especifica que el archivo vinculado es una hoja de estilo CSS.
integrity: Proporciona una medida criptográfica de seguridad para garantizar que los archivos cargados coincidan con los originales y no hayan sido manipulados.
crossorigin=“anonymous”: Permite que los recursos cargados desde un origen diferente al del documento actual sean utilizados sin comprometer la seguridad.
defer: Retrasa la ejecución del script hasta que se haya cargado todo el contenido de la página.
type=“text/css”: Especifica que el archivo vinculado es una hoja de estilo CSS.
Espero que esto te ayude. Si necesitas más información o tienes alguna otra pregunta, no dudes en preguntar. 😊

BARD:
Sure. Here is a detailed description of the classes and tags you mentioned, as well as the functions they fulfill in the code:
Classes:
charset: This class is used to specify the character encoding for the HTML document. The default character encoding is UTF-8, but you can specify a different encoding if needed.
utf-8: This is the name of a character encoding that supports a wide range of characters, including those from different languages.
name: This attribute is used to specify the name of a meta tag. The name attribute is case-sensitive, so you need to make sure that the name you use is spelled correctly.
viewport: This attribute is used to specify the initial viewport size for the document. The viewport is the area of the screen that is used to display the document.
content: This attribute is used to specify the value of a meta tag. The content attribute can contain a variety of values, such as text, HTML, or JavaScript.
width: This attribute is used to specify the width of the viewport. The width can be specified in pixels, percentages, or viewport units.
initial-scale: This attribute is used to specify the initial zoom level of the viewport. The initial scale can be specified as a number or a percentage.
Tags:
meta: This tag is used to define meta data for an HTML document. Meta data is data about data. It is used to provide information about the document, such as its character encoding, its viewport size, and its initial zoom level.
link: This tag is used to define a link between an HTML document and another resource, such as a CSS stylesheet or a JavaScript file.
rel: This attribute is used to specify the relationship between the current document and the linked resource. The rel attribute can have a variety of values, such as "stylesheet" or "script".
shortcut: This attribute is used to specify a shortcut icon for the document. A shortcut icon is a small image that is displayed in the browser's address bar.
icon: This attribute is used to specify the location of a shortcut icon. The icon attribute can point to an image file or to a CSS stylesheet.
defer: This attribute is used to tell the browser to defer the loading of a script. This can be useful for scripts that are not needed until after the page has loaded.
type: This attribute is used to specify the type of the linked resource. The type attribute can have a variety of values, such as "text/css" or "text/javascript".
I hope this helps! Let me know if you have any other questions.
 -->

<html lang="en">

  <head>

    <!-- 
    The name="viewport" meta tag used to control viewport of page
    The viewport is area of screen used to display page
    
    The content="width=device-width, initial-scale=1" value sets:
    * viewport to width of device's screen and initial zoom level to 1
    page will displayed at natural size on device's screen and will not be zoomed in or out -->
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon --> 
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>

    <!-- Dropzone js -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <!-- <link rel="stylesheet" href="{% static 'dropzone.css' %}">
    <script src="{% static 'dropzone.js' %}" defer></script> -->

    <!-- Custom js & css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">


    {% block scripts %}

    {% endblock scripts %}

    <!-- report app es una constante y block title es heredado a otros templetes -->
    <title> Report app | {% block title %} {% endblock title %} </title>

  </head>
  
  <body>

    {% include 'navbar.html' %}

    <!-- container: some spacing left and rigth, mt: margintop, mb: marginbotton -->
    <div class="container mt-3 mb-3">

        {% block content %}

        {% endblock content %}

    </div>

    <!-- Bootstrap js -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>

  </body>
</html>