{% load static %}

{% url 'sales:home' as path_to_home %}
{% url 'sales:list' as path_to_sales %}
{% url 'reports:from-file' as path_to_from_file %}
{% url 'reports:main' as path_to_reports %}
{% url 'profiles:my' as path_to_my_profile %}

<!--
  GPT:
  
Clases:

navbar: es una clase que se utiliza para definir la barra de navegación principal de la página.
navbar-expand-lg: esta clase se utiliza para expandir la barra de navegación en dispositivos grandes, como pantallas de escritorio y portátiles.
navbar-light: esta clase se utiliza para definir una barra de navegación con un fondo claro.
bg-light: esta clase se utiliza para definir un fondo claro para un elemento específico.
container-fluid: esta clase se utiliza para definir un contenedor que ocupa todo el ancho de la página.
navbar-brand: esta clase se utiliza para definir el logotipo o el nombre de la empresa que se muestra en la barra de navegación.
logo-sm: esta clase se utiliza para definir un logotipo o imagen más pequeña.
collapse: esta clase se utiliza para definir un elemento que se colapsa o se oculta en pantallas pequeñas.
navbar-collapse: esta clase se utiliza para definir un elemento que se oculta o se muestra en función del ancho de la pantalla.
nav-link: esta clase se utiliza para definir un enlace en la barra de navegación.
active: esta clase se utiliza para definir el enlace actualmente seleccionado.
nav-item: esta clase se utiliza para definir un elemento en la barra de navegación.
dropdown: esta clase se utiliza para definir un menú desplegable en la barra de navegación.
avatar-sm: esta clase se utiliza para definir una imagen de perfil más pequeña.
dropdown-menu: esta clase se utiliza para definir el menú desplegable que aparece cuando se hace clic en un elemento desplegable.
dropdown-item: esta clase se utiliza para definir un elemento en el menú desplegable.
Etiquetas:

<nav>: esta etiqueta se utiliza para definir la barra de navegación principal de la página.
<div>: esta etiqueta se utiliza para definir un contenedor.
<a>: esta etiqueta se utiliza para definir un enlace.
<img>: esta etiqueta se utiliza para definir una imagen.
<ul>: esta etiqueta se utiliza para definir una lista no ordenada.
<li>: esta etiqueta se utiliza para definir un elemento de lista.
<ul>: esta etiqueta se utiliza para definir una lista ordenada.
Atributos:

role=: este atributo se utiliza para definir el papel que desempeña un elemento en la página.
data-bs-toggle=: este atributo se utiliza para definir el comportamiento del elemento al hacer clic en él.
aria-expanded=: este atributo se utiliza para definir si el elemento está expandido o no.
aria-labelledby=: este atributo se utiliza para definir el ID del elemento que describe el contenido del elemento actual.

BING:

Claro que sí. A continuación te proporciono una descripción detallada de las clases y etiquetas que mencionaste y la función que cumplen en el código:

navbar: es una clase que se utiliza para crear una barra de navegación en la parte superior de la página web.
navbar-expand-lg: es una clase que se utiliza para expandir la barra de navegación en dispositivos grandes.
navbar-light: es una clase que se utiliza para establecer el color de fondo de la barra de navegación en blanco.
bg-light: es una clase que se utiliza para establecer el color de fondo de un elemento en blanco.
container-fluid: es una clase que se utiliza para crear un contenedor con ancho completo.
navbar-brand: es una etiqueta que se utiliza para agregar un logotipo o un nombre a la barra de navegación.
logo-sm: es una clase que se utiliza para establecer el tamaño del logotipo en pequeño.
collapse: es una clase que se utiliza para ocultar elementos en dispositivos pequeños.
navbar-collapse: es una clase que se utiliza para agrupar y ocultar los elementos de la barra de navegación en dispositivos pequeños.
nav-link: es una etiqueta que se utiliza para agregar un enlace a la barra de navegación.
active: es una clase que se utiliza para resaltar el elemento activo en la barra de navegación.
nav-item: es una etiqueta que se utiliza para agregar un elemento a la lista de elementos de la barra de navegación.
dropdown: es una clase que se utiliza para crear un menú desplegable.
dropdown-toggle: es una clase que se utiliza para agregar un botón desplegable a un elemento.
avatar-sm: es una clase que se utiliza para establecer el tamaño del avatar en pequeño.
dropdown-menu: es una clase que se utiliza para crear un menú desplegable dentro del botón desplegable.
navbarDropdownMenuLink: es una etiqueta que se utiliza como contenedor del menú desplegable dentro del botón desplegable.
dropdown-item: es una etiqueta que se utiliza para agregar un elemento al menú desplegable.
Espero haberte ayudado. ¿Necesitas saber algo más?

bard:
Sure. Here is a detailed description of the classes and tags you mentioned and the function they fulfill in the code:

navbar : This is a Bootstrap class that defines a navigation bar. It has a number of default styles, such as a light background color and a dark text color.
navbar-expand-lg : This is a Bootstrap class that expands the navigation bar to fill the entire width of the viewport on large screens.
navbar-light : This is a Bootstrap class that sets the background color of the navigation bar to light gray.
bg-light : This is a Bootstrap class that sets the background color of the navigation bar to light gray.
container-fluid : This is a Bootstrap class that makes the navigation bar fluid, so that it expands to fill the width of its container.
navbar-brand : This is a Bootstrap class that defines a brand for the navigation bar. It is typically used to display the logo of the website or application.
logo-sm : This is a Bootstrap class that makes the logo smaller.
collapse : This is a Bootstrap class that collapses the navigation bar on small screens.
navbar-collapse : This is a Bootstrap class that defines the collapsed navigation bar.
nav-link : This is a Bootstrap class that defines a link in the navigation bar. It has a number of default styles, such as an underline and a hover effect.
active : This is a Bootstrap class that is used to mark the active link in the navigation bar.
nav-item : This is a Bootstrap class that defines a container for a nav-link.
dropdown : This is a Bootstrap class that defines a dropdown menu.
nav-link : This is a Bootstrap class that defines a link in a dropdown menu.
dropdown-toggle : This is a Bootstrap class that defines the toggle button for a dropdown menu. It has a number of default styles, such as an arrow pointing down.
avatar-sm : This is a Bootstrap class that makes the avatar smaller.
dropdown-menu : This is a Bootstrap class that defines the dropdown menu.
navbarDropdownMenuLink : This is an ID that is used to reference the dropdown menu.
dropdown-item : This is a Bootstrap class that defines an item in a dropdown menu.
role= : This is an attribute that defines the role of the element. In this case, the role is "button", which means that the element can be clicked.
data-bs-toggle= : This is an attribute that defines the Bootstrap data attribute for the element. In this case, the data attribute is "dropdown", which means that the element will toggle a dropdown menu.
aria-expanded= : This is an attribute that defines the aria-expanded state of the element. In this case, the aria-expanded state is "false", which means that the dropdown menu is not currently expanded.
aria-labelledby= : This is an attribute that defines the aria-labelledby state of the element. In this case, the aria-labelledby state is "navbarDropdownMenuLink", which means that the dropdown menu is labelled by the element with the ID "navbarDropdownMenuLink".
I hope this helps! Let me know if you have any other questions.

 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid">

    <a class="navbar-brand" href=""><img src="{% static 'logo.png' %}" class="logo-sm mb-1"></a>
    <!-- collapse ase que al hacer la pantalla pequeña desaparezcan los vínculos -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link {% if request.path == path_to_home %} active {% endif %} " href="{{path_to_home}}">Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == path_to_sales %} active {% endif %} " href="{{path_to_sales}}">Sales</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == path_to_from_file %} active {% endif %} " href="{{path_to_from_file}}">Add from file</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == path_to_reports %} active {% endif %} " href="{{path_to_reports}}">Reports</a>
        </li>

      </ul>

    </div>

    {% if request.user.is_authenticated %}

      <div class="nav-item dropdown">

        <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">

          <img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}

        </div>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <li>
                <a class="dropdown-item {% if request.path == path_to_my_profile %} active {% endif %} " href="{{path_to_my_profile}}">Profile</a>
            </li>

            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>

        </ul>

      </div>

    {% endif %}

  </div>

</nav>
